#{extends 'main.html' /}
#{set title:'Detalhar' /}

<style>
    a:hover {
        color: rgba(205, 204, 204, 0.648);
        text-decoration: none;
    }
</style>


<main class="body">

    <div class="ficha">
        <input type="checkbox" aria-hidden="true" id="chk">
        <div class="fichaUser">
            <label for="chk" aria-hidden="true">Ficha</label>
            <input type="text" disabled placeholder="${u?.nome}">
            <input type="text" disabled placeholder="${u?.email}">
            <input type="text" disabled placeholder="${u?.classe}">

        </div>

        #{if u.guilda}

        <div class="guilda">

            <label for="chk" aria-hidden="true">Guilda</label>
            <input type="text" disabled placeholder="${u?.guilda?.nome}">
            <textarea cols="50" rows="10" disabled>${u?.guilda?.matriz}</textarea>
        </div>  
    </div>
    #{/if}

</main>