#{extends 'main.html' /}
#{set title:'Form' /}

<div class="containerForm">
    <h1>Cadastro</h1>
    <form action="@{Usuarios.salvar}" method="post">

        <input type="hidden" name="u.id" value="${u?.id}">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="u.nome" value="${u?.nome}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="u.email" value="${u?.email}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="u.senha">
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar-se</button>

        <span class="link-span">Já tem uma conta?<a href="@{Logins.form}">Clique aqui!</a></span>
    </form>
</div>