#{extends 'main.html' /}
#{set title:'Form' /}


<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Criando Guilda</h2>

                            <form action="@{Guildas.salvar}" method="post">

                                <input type="hidden" name="g.id">

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Nome</label><span class="red">
                                        #{error 'g.nome' /}<span>
                                            <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                                                name="g.nome" value="${u?.nome}" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">historia</label> <span
                                        class="red">#{error 'g.historia' /}<span>
                                            <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                                                name="g.historia" value="${u?.historia}" />
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Registrar</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>